




<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail1">
    <img src="<%= image_path("banghieu.jpg") %>" alt="">
    <div class="caption">
      <h4 class="pull-right">$24.99</h4>
      <h4><a href="#">Bảng Hiệu - Hộp Đèn</a>
      </h4>
      <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
    </div>
    <div class="ratings">
      <p class="pull-right">15 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail1">
    <img src="<%= image_path("led.jpg") %>" alt="">
    <div class="caption">
      <h4 class="pull-right">$64.99</h4>
      <h4><a href="#">Đèn LED</a>
      </h4>
      <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="ratings">
      <p class="pull-right">12 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail1">
    <img src="<%= image_path("dddhoc.jpg") %>" alt="">
    <div class="caption">
      <h4 class="pull-right">$</h4>
      <h4><a href="#">Đồ Dùng Học Tập</a>
      </h4>
      <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="ratings">
      <p class="pull-right">31 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
      <h4 class="pull-right">$84.99</h4>
      <h4><a href="#">In ấn</a>
      </h4>
      <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="ratings">
      <p class="pull-right">6 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div style="background: transparent;color:white">
    <h3>Liên Hệ:</h3>
      <p>
        Cơ Sở 1: Đức Trọng,....
        <br />Cơ Sở 2: 10/24 Hiệp Thạnh, Đức Trọng, Lâm Đồng
        <br />Cơ Sở 3: Gia Hiệp, Di Linh, Lâm Đồng.
        <br />Đt: 0972581150, 0....., 0...
      </p>
      <h3>Lượt Xem</h3>
      <div align=center>
        <a href='http://www.counter12.com'>
          <img src='http://www.counter12.com/img-CBxx2wY1-6.gif' border='0' alt='conter12'
               style="height: 35px; width: 35px"></a>
        <script type='text/javascript'
                                                                                                                                        src='http://www.counter12.com/ad.js?id=CBxx2wY1'></script></div>
      <br />
  </div>
</div>


<div class="col-sm-4 col-lg-4 col-md-4">
  <div style="background: transparent;color:white">
    <h3>Bản Đồ</h3>
    <div id="map_canvas" style="width:350px;height:250px"></div>
  </div>
</div>
